Algilama3.json
{
  "name": "Algilama3",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        -3020,
        460
      ],
      "id": "415d22aa-8c3d-42a0-9c4b-0689f391ccc8",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "5jZPvWGlxLqRZXd7",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    Tarih: (new Date()).toISOString().split(\"T\")[0],\n    Baslik: $json[\"title\"],\n    Mail: $json[\"contact_email\"],\n    Maas: $json[\"salary\"],\n    Web: $json[\"company_website\"]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1544,
        370
      ],
      "id": "cefd252a-2ac2-4256-ba61-4dc965bac296",
      "name": "Log Hazırla",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {
          "fileName": "=job-log-{{$now}}.csv"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1324,
        370
      ],
      "id": "e13f1566-cb07-4c41-8c8e-dbf99259ce8f",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "16ff470c-30f9-4d05-9cc1-57cc8ab2075d",
              "leftValue": "={{ $json.output.is_job_posting }}",
              "rightValue": "evet",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2424,
        370
      ],
      "id": "039d6d38-8f4e-4396-9ec4-a44cc2ddd402",
      "name": "is_job_posting"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9bc5e74-3044-4af3-862f-61ccc72a0eec",
              "leftValue": "={{ $json.output.action_suggestion }}",
              "rightValue": "sakla",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c4515668-4f3f-488e-bb23-94c576b48562",
              "leftValue": "={{ $json.output.quality_score }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1324,
        120
      ],
      "id": "a1b1edc9-60d7-4069-923a-942fec59488f",
      "name": "sakla"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9bc5e74-3044-4af3-862f-61ccc72a0eec",
              "leftValue": "={{ $json.output.action_suggestion }}",
              "rightValue": "bildir",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c4515668-4f3f-488e-bb23-94c576b48562",
              "leftValue": "={{ $json.output.action_suggestion }}",
              "rightValue": "Bildir",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d39ff48c-7823-49c3-bcba-f54d8e333717",
              "leftValue": "={{ $json.output.quality_score }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2204,
        270
      ],
      "id": "cae2f579-7e00-452b-99cc-e52c85e63144",
      "name": "bildir"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9bc5e74-3044-4af3-862f-61ccc72a0eec",
              "leftValue": "={{ $json.output.action_suggestion }}",
              "rightValue": "ilgisiz",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c4515668-4f3f-488e-bb23-94c576b48562",
              "leftValue": "={{ $json.output.action_suggestion }}",
              "rightValue": "İlgisiz",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1764,
        745
      ],
      "id": "fb852db2-a40e-4d8d-b27a-e421f0cbcc2e",
      "name": "ilgisiz"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-intake",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3020,
        260
      ],
      "id": "7b4c9f22-ac5f-4893-b643-5993f44bfd39",
      "name": "Webhook",
      "webhookId": "5e853a9f-0068-4549-ba8b-3046cc68f4b6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sen profesyonel bir iş ilanı analistisin.\n\nAşağıda sana bir iş ilanı verilecek. Lütfen her alanı değerlendirerek puan ver:\n\nHer dolu alan için 1 puan ver:  \n- title  \n- description  \n- salary  \n- employment_type  \n- company_website  \n- contact_email  \n- url  \n\nToplam puanı hesapla (0–7 arası)  \nArdından quality_score = ROUND(toplam / 7 * 5)\n\nKalite puanı aşağıdaki JSON’da `quality_score` alanına yazılmalı.\n\nEksik bilgi varsa \"\" (boş string) döndür. Sahte bilgi uydurma.\n\nYanıta geçmeden önce lütfen bu kriterlere göre düşün ve sadece aşağıdaki JSON formatında cevap ver:\n\n```json\n{\n  \"is_job_posting\": \"evet veya hayır\",\n  \"quality_score\": 1-5 arası bir sayı,\n  \"action_suggestion\": \"sakla veya ilgisiz veya bildir\",\n  \"category\": \"frontend / backend / mobile / devops / data science / diğer\",\n  \"tags\": [\"remote\", \"junior\", \"b2b\", \"...\"],\n  \"title\": \"...\",\n  \"description\": \"...\",\n  \"employment_type\": \"Remote / Tam Zamanlı / Yarı Zamanlı\",\n  \"salary\": \"...\",\n  \"company_name\": \"...\",\n  \"company_website\": \"...\",\n  \"contact_email\": \"...\",\n  \"url\": \"...\"\n}\nGirdi:\nBaşlık: {{$json.body[\"title\"]}}\nAçıklama: {{$json.body[\"description\"]}}\nİletişim: {{$json.body[\"contact_email\"]}}\nWeb: {{$json.body[\"company_website\"]}}\nMaaş: {{$json.body[\"salary\"]}}\nÇalışma tipi: {{$json.body[\"employment_type\"]}}\nURL: {{$json.body[\"url\"]}}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -2800,
        370
      ],
      "id": "af0d938a-3616-4627-84e9-891fc6684825",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2772,
        590
      ],
      "id": "72edf517-1dad-479c-b54d-9c3751a80955",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "H3mKelZwTW9frAL1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"is_job_posting\": \"evet\",\n  \"quality_score\": 4,\n  \"action_suggestion\": \"sakla\",\n  \"category\": \"frontend\",\n  \"tags\": [\"remote\", \"junior\", \"typescript\"],\n  \"title\": \"Junior Frontend Developer\",\n  \"description\": \"Vue.js bilen, remote çalışabilecek bir geliştirici arıyoruz...\",\n  \"employment_type\": \"remote\",\n  \"salary\": \"₺35.000 - ₺45.000\",\n  \"company_name\": \"Example...\",\n  \"company_website\": \"https://example.com\",\n  \"contact_email\": \"ik@example.com\",\n  \"url\": \"https://example.com/ilan-123\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -2652,
        590
      ],
      "id": "02b9afde-5231-4a0b-9c73-873da87b44b8",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fbba0d38-6876-496b-b0fe-e7af1f0c9f90",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1764,
        270
      ],
      "id": "dd9d36b3-7771-47a4-85d8-99ff880fcdd6",
      "name": "isApproved"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -1544,
        -80
      ],
      "id": "db1ca653-77be-429b-b6ee-3891dd846b69",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    output: $json.output || $json[1]?.output || {}\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1324,
        -80
      ],
      "id": "51418cbe-3ef0-425d-89e1-00539970de0a",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "1394577495",
        "message": "=Bu ilan ilginizi çekebilir mi?\n\nPozisyon: {{ $('AI Agent').item.json.output.title }}\nKategori: {{ $('AI Agent').item.json.output.category }}\nEtiketler: {{ $('AI Agent').item.json.output.tags.join(\", \") }}\nTarih: {{ $now.setZone('Europe/Istanbul').toFormat('dd.MM.yyyy HH:mm') }}\n\n\nCevabınız: evet / hayır",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1984,
        270
      ],
      "id": "e955d461-3334-48a8-9d9e-899fc6744b80",
      "name": "Telegram Response",
      "webhookId": "770d3451-2d95-4503-8008-6111bf78a33f",
      "credentials": {
        "telegramApi": {
          "id": "eznawNtxcg795IOf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "Birden fazla dal http request düğümüne girdiğinde hiç birini algılamıyor. bu sebeple merge kullanmayı düşünebiliriz.",
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1200,
        -260
      ],
      "id": "4bcabc58-197d-44bd-96e1-6e00a4da914b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Buraya bir adet google drive gibi bir upload sistemi entegre edilecek.",
        "height": 140,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1140,
        420
      ],
      "id": "bc26a9ad-64d1-4583-81ee-f5eab10d25f4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jobanalyzerdashboard.onrender.com/api/webhook",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"output\": {\n    \"title\": \"{{ $('AI Agent').item.json.output.title }}\",\n    \"description\": \"{{ $('AI Agent').item.json.output.description }}\",\n    \"quality_score\": {{ $('AI Agent').item.json.output.quality_score }},\n    \"action_suggestion\": \"{{ $('AI Agent').item.json.output.action_suggestion }}\",\n    \"category\": \"{{ $('AI Agent').item.json.output.category }}\",\n    \"employment_type\": \"{{ $('AI Agent').item.json.output.employment_type }}\",\n    \"salary\": \"{{ $('AI Agent').item.json.output.salary }}\",\n    \"company_website\": \"{{ $('AI Agent').item.json.output.company_website }}\",\n    \"company_name\": \"{{ $('AI Agent').item.json.output.company_name }}\",\n    \"contact_email\": \"{{ $('AI Agent').item.json.output.contact_email }}\",\n    \"url\": \"{{ $('AI Agent').item.json.output.url }}\",\n    \"is_job_posting\": \"{{ $('AI Agent').item.json.output.is_job_posting }}\",\n    \"tags\": {{ JSON.stringify($('AI Agent').item.json.output.tags) }}\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1104,
        -5
      ],
      "id": "2c6a8b74-298e-4e19-8bc5-d790f6d4f02f",
      "name": "Send to API"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const retry = item.json.retry ?? 0;\n\n  if (retry >= 3) {\n    return {\n      json: {\n        retry: false,\n        retryCount: retry\n      }\n    };\n  } else {\n    return {\n      json: {\n        retry: true,\n        retryCount: retry + 1\n      }\n    };\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2204,
        545
      ],
      "id": "5d8c141b-07e0-4d27-9524-4ebd5fdf1ab4",
      "name": "Code",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b09b62e6-cdfe-404e-8e05-7474587d05bc",
              "leftValue": "={{ $json.retry }}",
              "rightValue": "t",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "a4d74540-9a88-4c74-8474-87326e858239",
              "leftValue": "={{ $json.retryCount }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1984,
        545
      ],
      "id": "7b883bdc-34f2-42e2-91f5-11003095a417",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f7060cb-57c5-41c3-9c0e-2a1b16f88834",
              "leftValue": "={{ $json.retryCount }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1764,
        545
      ],
      "id": "5ec176bd-5499-4ac4-8d1d-46058d50ca33",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "1394577495",
        "text": "Gönderilen post başarısız.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1544,
        570
      ],
      "id": "17062272-1d08-4810-85b8-c3d0f4d6a7b0",
      "name": "Telegram",
      "webhookId": "b1528df9-19af-4931-b0e7-51de9d7e81cb",
      "credentials": {
        "telegramApi": {
          "id": "eznawNtxcg795IOf",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Hazırla": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is_job_posting": {
      "main": [
        [
          {
            "node": "sakla",
            "type": "main",
            "index": 0
          },
          {
            "node": "bildir",
            "type": "main",
            "index": 0
          },
          {
            "node": "ilgisiz",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sakla": {
      "main": [
        [
          {
            "node": "Send to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bildir": {
      "main": [
        [
          {
            "node": "Telegram Response",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "ilgisiz": {
      "main": [
        [
          {
            "node": "Log Hazırla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "is_job_posting",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "isApproved": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Hazırla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Send to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Response": {
      "main": [
        [
          {
            "node": "isApproved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9007eb35-72c2-40f5-bcaa-d992863e3a43",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7f4251262dd62fe7b74ddc03f406c696d30f3092e6348495b94cb183b39e390f"
  },
  "id": "LVzdmjmqcT9mUBeu",
  "tags": []
}