Gonderme(1).json
{
  "name": "Gonderme",
  "nodes": [
    {
      "parameters": {
        "chatId": "1394577495",
        "text": "=Otomatik Başvuru Yapıldı!\n\nBaşlık: {{ $('Webhook').item.json.body.title }}\nGönderilen mail adresi: {{ $('Webhook').item.json.body.contact_email }}\nLink: {{ $('Webhook').item.json.body.url }}\nGönderilen mesaj:\n{{ $('AI Agent').item.json.output }}\nBaşvuru Tarihi: {{ $now.setZone('Europe/Istanbul').toFormat('dd.MM.yyyy HH:mm') }}\n\n\n📎 CV: ✔️ Eklendi",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        696,
        980
      ],
      "id": "7aa7e764-f505-488c-950f-ced8f9298d6c",
      "name": "Telegram1",
      "webhookId": "5a8473ea-4c36-4cef-9308-5d48d29e5876",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "eznawNtxcg795IOf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "maliari4558@gmail.com",
        "toEmail": "={{ $('Webhook').item.json.body.contact_email }}",
        "subject": "Pozisyon Hakkında Başvuru",
        "emailFormat": "text",
        "text": "={{ $json.output }}",
        "options": {
          "attachments": "=cv"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        256,
        1080
      ],
      "id": "967d9ec9-5408-4ec7-962c-a9983731049c",
      "name": "Send Email",
      "webhookId": "bd6a0c27-eb3f-484a-a616-88fbe6bcad1f",
      "credentials": {
        "smtp": {
          "id": "1ktaDgJDAaRqjhoc",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dory-assuring-rattler.ngrok-free.app/api/job/save-email-content/{{$json[\"applicationId\"]}}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "=emailContent: {{$json.output}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        880
      ],
      "id": "9b58dd6a-ef7c-4f48-aa9b-fef6cf12cab6",
      "name": "HTTP POST",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "apply-auto",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -780,
        980
      ],
      "id": "a19cae08-055f-4627-bdff-778528ad3654",
      "name": "Webhook",
      "webhookId": "5e853a9f-0068-4549-ba8b-3046cc68f4b6"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        1200
      ],
      "id": "6147d05d-e7da-4664-b3c0-eac41a228617",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "H3mKelZwTW9frAL1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        476,
        980
      ],
      "id": "73bda913-8102-48b3-aa9c-5baa097d0f11",
      "name": "Merge POST and SMTP"
    },
    {
      "parameters": {
        "content": "Kullanıcının cv veya profil sayfasındaki açıklamaları kullanarak özelleştirilmiş bir mail yazdırabiliriz.\nDONE\n",
        "width": 160,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        800
      ],
      "id": "61efb827-d7c4-41b1-990b-1aa69aea111e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "POST işlemi backend tarafında halledildi. \n",
        "width": 160,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        660,
        760
      ],
      "id": "38d56955-dbc1-4eee-ad85-84e7734f6750",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "url": "https://dory-assuring-rattler.ngrok-free.app/api/profile",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"parameters\": {\n    \"url\": \"https://dory-assuring-rattler.ngrok-free.app/api/profile\",\n    \"authentication\": \"none\",\n    \"method\": \"GET\",\n    \"sendHeaders\": true,\n    \"headerParameters\": {\n      \"parameters\": [\n        {\n          \"name\": \"Content-Type\",\n          \"value\": \"application/json\"\n        },\n        {\n          \"name\": \"Accept\",\n          \"value\": \"application/json\"\n        }\n      ]\n    },\n    \"options\": {}\n  },\n  \"name\": \"Get User Profile\",\n  \"type\": \"n8n-nodes-base.httpRequest\",\n  \"typeVersion\": 4.1,\n  \"position\": [\n    600,\n    300\n  ],\n  \"executeOnce\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        980
      ],
      "id": "a87739be-bd28-41e6-9a06-147db036ab87",
      "name": "Get User"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Aşağıda, bir kullanıcı profili ve bir iş ilanı yer almaktadır. Bu bilgilere göre kısa, samimi ve ciddi bir başvuru e-postası yazmanı istiyorum.\n\n🔹 Kurallar:\n- “Merhaba” ile başla\n- Tek paragraflık metin yaz\n- CV’yi iletmek istediğini belirt\n- Sonuna adını yaz\n\n📌 Kullanıcı Bilgisi:\nAd: {{ $node[\"Get User\"].json.fullName }}\nEğitim: {{ $('Get User').item.json.education }}\nTecrübe: {{ $('Get User').item.json.experience }}\nTercih Edilen Model: {{ $('Get User').item.json.preferredJobTypes }}\nYetenekler: {{ $('Get User').item.json.skills }}\nTercih Edilen Lokasyon: {{ $('Get User').item.json.preferredLocations }}\n\n📌 İş İlanı Bilgisi:\nPozisyon: {{ $('Webhook').item.json.body.title }}\nLokasyon: {{ $('Webhook').item.json.body.location }} \nAçıklama: {{ $('Webhook').item.json.body.description }}\n\n⛔️ Lütfen sadece aşağıdaki formatta e-posta metnini üret:\n\nMerhaba,\n\n[Paragraf burada]\n\n[Ad] ",
        "options": {
          "systemMessage": "Senin görevin, aşağıdaki kullanıcı bilgilerine ve iş ilanı açıklamasına göre, ciddi ve samimi bir başvuru e-postası yazmaktır.\n- Merhaba ile başla\n- Tek paragraflık, samimi bir metin oluştur\n- CV’yi iletmek istediğini belirt\n- Sonuna kullanıcı adını yaz"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -120,
        980
      ],
      "id": "43c4788e-ac42-4d45-88e6-03b66212930b",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "url": "https://dory-assuring-rattler.ngrok-free.app/api/profile",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"parameters\": {\n    \"url\": \"https://dory-assuring-rattler.ngrok-free.app/api/profile/resumes/default\",\n    \"authentication\": \"none\",\n    \"method\": \"GET\",\n    \"sendHeaders\": true,\n    \"headerParameters\": {\n      \"parameters\": [\n        {\n          \"name\": \"Content-Type\",\n          \"value\": \"application/json\"\n        },\n        {\n          \"name\": \"Accept\",\n          \"value\": \"application/json\"\n        }\n      ]\n    },\n    \"options\": {}\n  },\n  \"name\": \"Get Default Resume\",\n  \"type\": \"n8n-nodes-base.httpRequest\",\n  \"typeVersion\": 4.1,\n  \"position\": [\n    600,\n    400\n  ],\n  \"executeOnce\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -340,
        980
      ],
      "id": "3d062111-a194-48d5-91c9-4066e23bed8d",
      "name": "Get CV"
    },
    {
      "parameters": {
        "content": "Üretilen mail örneği frontend tarafında sergilenmelidir. Bu işlem için http req post kullanılabilir.",
        "width": 160,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        660
      ],
      "id": "59e96169-7ba9-4849-af83-2f6291fd4272",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram1": {
      "main": [
        []
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Merge POST and SMTP",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP POST": {
      "main": [
        [
          {
            "node": "Merge POST and SMTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge POST and SMTP": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User": {
      "main": [
        [
          {
            "node": "Get CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP POST",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get CV": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "61b5eae2-4972-4044-9a55-f62205e21414",
  "meta": {
    "instanceId": "7f4251262dd62fe7b74ddc03f406c696d30f3092e6348495b94cb183b39e390f"
  },
  "id": "8DKuJTEjngNsce3e",
  "tags": [
    {
      "createdAt": "2025-04-24T10:48:17.188Z",
      "updatedAt": "2025-04-24T10:48:17.188Z",
      "id": "uTGYma5o8EMah277",
      "name": "job_analyzer"
    }
  ]
}